.code-cell {
  height: calc(100% - 10px);
  display: flex;
  flex-direction: row;
}

.preview__wrapper {
  height: 100%;
  flex-grow: 1;
  background-color: #ffffff;
}

.progress__wrapper {
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0 10%;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
